---
import Card from '../components/card.astro'
---

<h1>Mis Servicios</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quo nihil nostrum nesciunt facilis aut dolores porro ducimus saepe at
</p>


<Card title='Hola Mundo' content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quo nihil nostrum nesciunt facilis aut dolores porro ducimus saepe at"/>
<Card title='Programación' content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quo nihil nostrum nesciunt facilis aut dolores porro ducimus saepe at"/>
<Card title='Diseño' content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quo nihil nostrum nesciunt facilis aut dolores porro ducimus saepe at"/>
<Card title='Asistencia Profesional' content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quo nihil nostrum nesciunt facilis aut dolores porro ducimus saepe at"/>
<Card title='Desarrollo' content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quo nihil nostrum nesciunt facilis aut dolores porro ducimus saepe at"/>
<Card title='Fin' content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quo nihil nostrum nesciunt facilis aut dolores porro ducimus saepe at"/>

<Card />

<style>
    body {
        background: #202020;
        color: white;
    }
</style>